/* colores {
    header: #FFDCA9;
    main: #FCF9BE;
    footer: #E8F3D6;
    letras: #FAAB78;
} */
@import "./base/fonts";
@import "./base/_reset.scss";
@import "./utilities/variables.scss";

@import "./layouts/header.scss";
@import "./layouts/main.scss";
@import "./layouts/footer.scss";