/* UPCOMINGPERFORMANCES */

.upCContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas:
    "item1"
    "item2"
    "item3"
    "item4"
  ;
  gap: 2rem;

  &:first-child {
    padding-top: 2rem;
  }

  :last-child {
    padding-bottom: 2rem;
  }

  .newPerformance {
    width: 90%;
    border-bottom: 1px solid black;
    @include flex(column, center, center);
    gap: 2rem;
    padding-bottom: 1.5rem;
    justify-self: center;
  }

  .upCDiv {
    @extend .newPerformance;

    h2 {
      font-size: 1.7rem;
      font-weight: 700;
    }

    p {
      font-size: 1.5rem;
      width: 100%;
      text-align: center;
      justify-self: center;
    }
  }

  .upCOne {
    grid: item1;
  }

  .upCTwo {
    grid: item2;
  }

  .upCThree {
    grid: item3;
  }

  .upCFour {
    grid: item4;
  }
}

@media (min-width: 768px) {

  .upCContainer {
    grid-template-rows: repeat(4, minmax(150px, 1fr));

    .upCDiv {
      h2 {
        font-size: 2.7rem;
      }

      p {
        font-size: 1.7rem;
      }
    }
  }
}

@media (min-width: 992px) {
  .upCContainer {
    display: grid;
    grid-template-columns: repeat(2, 40%);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
      "item1 item2"
      "item3 item4"
    ;
    justify-content: center;
    padding-top: 4rem;
    gap: 0;
    min-height: 600px;

    &:first-child {
      padding-top: 0;
    }

    &:last-child {
      padding-bottom: 0;
    }

    .upCDiv {
      width: 100%;
      justify-content: flex-start;
      padding: 0 7rem 0 7rem;
    }

    .upCOne {
      margin-top: 7rem;
      border-right: 1px solid black;
    }

    .upCTwo {
      margin-top: 7rem;
    }

    .upCThree {
      margin-bottom: 7rem;
      border-bottom: 0;
      border-right: 1px solid black;
    }

    .upCFour {
      margin-bottom: 7rem;
      border-bottom: 0;
    }
  }
}