/* VIDEOS */


.videoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: auto;
  padding: 1%;
  gap: 3rem;

  .videoOptions {
    width: 50%;
    height: fit-content;
    text-align: center;
  }

  /* width="1120" height="630"  */
  .video {
    display: flex;
    justify-content: center;
    height: 200px;
  }

  .videoData {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1rem;

    strong {
      font-size: 20px;
      text-transform: uppercase;
    }

    span {
      font-size: 12px;
    }
  }
}

@media (min-width: 768px) {

  .videoContainer {
    gap: 2rem;

    .videoOptions {
      width: 25%;
      padding: .5rem;
      margin-top: 2rem;
    }

    .video {
      width: 622px;
      height: 350px;

      iframe {
        width: 100%;
        height: 100%;
      }
    }

    .videoData {
      width: 100%;
      display: flex;
      flex-direction: column;
      text-align: center;
      gap: 1rem;

      strong {
        font-size: 24px;
        text-transform: uppercase;
      }

      span {
        font-size: 16px;
      }
    }
  }
}

@media (min-width: 992px) {
  .videoContainer {
    .video {
      width: 888px;
      height: 500px;
    }
  }
}