/* *** HEADER *** */

.header {
  background: $colorHeader;
  font-family: robot;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: .5rem 2rem;
  min-height: 13vh;

  .navbar {
    width: 100%;

    .header-container {
      justify-content: space-between;
    }
  }

  img {
    height: 70px;
  }
}

.collapse {
  width: 100%;
  justify-content: space-between;
  right: 0;

  .navbar-nav {
    width: 100%;
    flex-direction: column;
    place-content: center;
    gap: 5px;
    text-align: center;

    a {
      text-decoration: none;
      color: $colorLetras;
      font-size: 1.5rem;

      &:hover {
        color: #000;
      }
    }
  }
}

@media (min-width: 992px) {
  .header .navbar .header-container {
    flex-direction: column;
    gap: 1rem;

    .collapse {
      justify-content: center;

      .navbar-nav {
        flex-direction: row;
        width: 75%;
        gap: 5rem;
        justify-content: space-between;
      }
    }
  }
}

@media (min-width: 1200px) {
  .header .navbar .header-container {
    flex-direction: row;
    gap: 1rem;
  }
}